.toast-item {
    width: 420px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #ededed;
    background: #ffffff;
}

.toast-item > span {
    font-family: NixgonFont, serif;
    font-size: 14px;
    margin-left: 12px;
}

.toast-item > button {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    padding: 0;
    margin-left: auto;
    margin-right: 12px;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.9);
    }
}