.toast-container {
    width: max-content;
    height: max-content;

    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    inset: 0;
    margin: auto auto 72px;
}