.ColorSchemeElement {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 12px;
    cursor: pointer;
}

.ColorSchemeElement:hover {
    row-gap: 16px;
}

.ColorSchemeElement:hover > span {
    color: #000000;
    font-size: 15px;
}

.ColorSchemeElement > span {
    font-family: 'NixgonFont', serif;
    font-size: 14px;
    color: #6d6d6d;
    grid-row: 1;
    font-weight: bold;
}

.ColorSchemeElement.focus > span {
    color: #000000;
    font-size: 16px;
}

.ColorSchemeElement.focus {
    row-gap: 16px;
}

.ColorSchemeElement.focus > div {
    height: 3px;
}


.ColorSchemeElement > span:nth-child(2) {
    margin-left: auto;
}

.ColorSchemeElement > div {
    width: 100%;
    height: 2px;
    grid-column: 1/-1;
}