.theme-element {
}

.theme-element .footer {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 1px #ededed;
    padding: 12px 20px 12px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
}

.theme-element .footer span {
    font-family: NixgonFont, serif;
    font-size: 15px;
}

.theme-element .footer .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theme-element .footer svg {
    width: 14px;
    height: 14px;
    opacity: 0;
    transition: opacity 0.08s ease-out;
}

.theme-element .footer:hover svg {
    opacity: 1;
    transition: opacity 0.08s ease-out;
}

.theme-element svg * {
    fill: #929292;
}

.theme-element svg:hover * {
    fill: #000000;
}

.theme-element .trashcan:hover * {
    fill: #ff0000 !important;
}

.theme-element .body {
    position: relative;
    width: 100%;
    height: 304px;
    background: #fafafa;
    margin-bottom: -4px ;
    display: flex;
    flex-direction: row;
    z-index: -1;
}

.theme-element .body .item {
    height: 104%;
    border-radius: 12px;

    flex-shrink: 0;
}