.iconTextButton {
    width: 94%;
    height: 24px;
    background: none;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.iconTextButton:hover {
    background: #f2f2f2;
}

.iconTextButton > span {
    font-family: NixgonFont, serif;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 12px;
}

.iconTextButton > svg {
    width: 12px;
    height: 12px;
    margin-left: 12px;
}