.IconButton {
    background: none;
    border: none;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.IconButton:hover::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
}

.IconButton > svg {
    margin: 25%;
    width: 50%;
    height: 50%;
}