.SimpleButton {
    position: relative;
    border: #dbdbdb 1px solid;
    background: #ffffff;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    overflow: hidden;
    font-family: NixgonFont, serif;
    font-size: 13px;
}

.SimpleButton:hover::after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
}