.standard-button {
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 1.5em;
    background: #000000;
    color: #ffffff;
    font-family: "NixgonFont", serif;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.standard-button:hover::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
}

.standard-button.loading {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
}