.mobileLayout {
    position: relative;
    padding: 2% 3% calc(2% + 48px + env(safe-area-inset-bottom)) 3%;
    width: 100dvw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}