#theme-view {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#theme-view > .container.title {
    margin-top: 8px;
    width: 100%;
    display: flex;
    height: 32px;
}

#theme-view > .container.title > .title {
    font-size: 28px;
    font-family: "Pretendard", serif;
    font-weight: 900;
    color: #000000;
}

#theme-view > .container.title > .name {
    font-size: 20px;
    font-family: "NixgonFont", serif;
    font-weight: 500;
    color: #595959;
    margin-left: 20px;
    margin-top: 7px;
}

#theme-view > .timetable-header {
    width: 1200px;
}

#theme-view > .timetable-grid {
    width: 1200px;
    height: 70%;
    flex: none;
}