#theme-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#theme-view > .container.title {
    margin: 8px auto 24px 0;
    width: 100%;
    display: flex;
    height: 32px;
}

#theme-view > .container.title > .title {
    font-size: 28px;
    font-family: "Pretendard", serif;
    font-weight: 900;
    color: #000000;
}

#theme-view > .container.title > .name {
    font-size: 18px;
    font-family: "NixgonFont", serif;
    font-weight: 500;
    color: #595959;
    margin-left: 20px;
    margin-top: 7px;
}

#theme-view > .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 6px;
}

#theme-view > .content > .detail {
    position: fixed;
    right: 0;
    top: 0;
    width: 24%;
    height: 100vh;
    border-left: 2px solid #ededed;
    padding: 1.5% 24px 2%;
    display: flex;
    flex-direction: column;
    gap: 56px;
    overflow-y: auto;
    background: #ffffff;
}

#theme-view > .content > .timetable {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 24%;
    padding: 20px 80px 40px 60px;
}

#theme-view > .content > .timetable > .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#theme-view > .content > .timetable > .wrapper > .timetable-grid {
    flex: 1;
}

#theme-view > .content > .timetable > .wrapper.focus > .timetable-grid > .timetable-class {
    opacity: 0.3 !important;
}

#theme-view > .content > .timetable > .wrapper.focus > .timetable-grid > .timetable-class.focus {
    opacity: 1 !important;
}

#theme-view > .content > .detail > .title {
    display: inline-block;
    height: 32px;
    font-family: "Pretendard", serif;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 32px;
}