#theme-view {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#theme-view > .container.title {
    margin-top: 8px;
    margin-left: auto;
    width: 100%;
    display: flex;
    height: 32px;
}

#theme-view > .container.title > .title {
    font-size: 28px;
    font-family: "Pretendard", serif;
    font-weight: 900;
    color: #000000;
}

#theme-view > .container.title > .name {
    font-size: 20px;
    font-family: "NixgonFont", serif;
    font-weight: 500;
    color: #595959;
    margin-left: 20px;
    margin-top: 7px;
}

#theme-view > .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#theme-view > .content > .detail {
    width: 36%;
    border-radius: 12px;
    border-left: 1px solid #ededed;
    box-shadow: -2px 0 2px #ededed;
    margin-top: -1.5%;
    margin-bottom: -1.6%;
}

#theme-view > .content > .timetable {
    width: 64%;
    padding: 140px 160px 140px 120px;
}

#theme-view > .content > .timetable-header {
    width: 1200px;
}

#theme-view > .content > .timetable-grid {
    width: 1200px;
    height: 70%;
    flex: none;
}