.password-input{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.password-input input{
    width: 100%;
    height: 40px;
    padding-left: 1rem;
    border: solid 2px #ededed;
    border-radius: 1rem;
    background-color: #ffffff;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.password-input .placeholder{
    position: absolute;
    left: 15px;
    color: #a4a4a4;
    pointer-events: none;
    font-family: "NixgonFont", serif;
    font-weight: 300;
    font-size: 14px;
    transform: translateY(80%);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.password-input input:valid{
    outline: none;
    border: 1px solid #373737;
}

.password-input input:focus{
    outline: none;
    border: 2px solid #2a2a2a;
}
.password-input input:focus ~ .placeholder, .password-input input:valid ~ .placeholder{
    transform: translateY(-48%) scale(0.8);
    padding: 0.2em;
    background-color: #ffffff;
    color: #2a2a2a;
}

.password-input img {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    filter: invert(0.7);
    align-self: center;
}

.password-input.invalid input {
    border: 1px solid #ff6969;
    box-shadow: 0 0 5px 1px #ffd4d4;
}

.password-input .error-message {
    color: #ff6969;
    font-family: "NixgonFont", serif;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 12px;
}

.password-input.invalid input:focus ~ span, .password-input.invalid input:valid ~ span {
    color: #ff6969;
}
