.loginPage {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #ffffff;
    flex: 1;
}

.loginPage > img {
}

.panel {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 4px;
}

.title > span:first-child {
    font-family: "Pretendard", serif;
    font-size: 30px;
    font-weight: 900;
}

.title > span:nth-child(2) {
    font-family: "NixgonFont", serif;
    font-size: 14px;
    font-weight: 500;
}

.titleLogo {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 300px;
}

.inputArea > button {
    margin-top: 8px;
}

.inputArea {
    display:flex;
    margin-top: 30px;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}

.divider {
    width: 200px;
    height: 1px;
    border-radius: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    background: #ededed;
    margin-left: 50px;
}


.footer {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    margin-top: 12px;
    column-gap: 6px;
    row-gap: 4px;
    margin-left: 8px;
}

.textLink {
    color: #5b5b5b;
    text-decoration: none;
}

.footer a, span {
    grid-column: 1 / span 2;
    font-family: "Pretendard", serif;
    font-size: 12px;
    font-weight: 500;
}

.footer .signUp {
    grid-row: 2;
    grid-column: span 1;
}

.globalErrorMessage {
    width: 300px;
    font-family: "NixgonFont", serif;
    font-size: 13px;
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: -8px;
    color: #ff6969;
}

.backgroundBox {
    height: 100%;
    width: 60%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden; /* 노이즈가 박스를 벗어나지 않도록 */
}

.backgroundBox::before {
    content: "";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.15; /* 노이즈 강도 조절 (0.1 ~ 0.3 추천) */
    mix-blend-mode: overlay; /* 그라데이션과 자연스럽게 섞이게 함 */
    pointer-events: none; /* 클릭 등 마우스 이벤트를 방해하지 않음 */
    z-index: 1;
}

.loginBg {
    background: linear-gradient(135deg, #1742b6 0%, #aa5db2 100%);
}



