#login {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #ffffff;
    flex: 1;
}

#login .panel {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#login .container {
    display: flex;
    flex-direction: column;
}

#login .background {
    display: flex;
    height: 100%;
    width: 40%;
    flex: 1;
}

#login .input-area {
    display:flex;
    margin-top: 30px;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}

#login .container .title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 4px;
}

#login .welcome {
    font-family: "Pretendard", serif;
    font-size: 30px;
    font-weight: 900;
}

#login #login-alert {
    font-family: "NixgonFont", serif;
    font-size: 14px;
    font-weight: 500;
}

#login .title-logo {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
}

#login  .app-name {
    font-size: 21px;
}

#login .logo {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

#login .subtitle {
    font-size: 13px;
}

#login > .panel > .container > .input-area > button {
    margin-top: 8px;
}

#login .divider {
    width: 200px;
    height: 1px;
    border-radius: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    background: #ededed;
    margin-left: 50px;
}

#login .text-link {
    color: #5b5b5b;
    text-decoration: none;
}

#login .additional a, span {
    grid-column: 1 / span 2;
    font-family: "Pretendard", serif;
    font-size: 12px;
    font-weight: 500;
}

#login .additional .sign-up {
    grid-row: 2;
    grid-column: span 1;
}

#login .additional{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    margin-top: 12px;
    column-gap: 6px;
    row-gap: 4px;
    margin-left: 8px;
}

#login .global-error-message {
    width: 300px;
    font-family: "NixgonFont", serif;
    font-size: 13px;
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: -8px;
    color: #ff6969;
}