#signup {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #ffffff;
    flex: 1;
}

#signup .panel {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#signup .container {
    display: flex;
    flex-direction: column;
}

#signup .background {
    display: flex;
    height: 100%;
    width: 40%;
    flex: 1;
}

#signup .input-area {
    display:flex;
    margin-top: 30px;
    flex-direction: column;
    width: 300px;
    gap: 20px;
}

#signup .input-area .subarea {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#signup .container .title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 4px;
}

#signup .welcome {
    font-family: "Pretendard", serif;
    font-size: 30px;
    font-weight: 900;
}

#signup #signup-alert {
    font-family: "NixgonFont", serif;
    font-size: 14px;
    font-weight: 500;
}

#signup .title-logo {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
}

#signup  .app-name {
    font-size: 21px;
}

#signup .logo {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

#signup .subtitle {
    font-size: 13px;
}

#signup > .panel > .container > .input-area > button {
    margin-top: 8px;
}

#signup .divider {
    width: 200px;
    height: 1px;
    border-radius: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    background: #ededed;
    margin-left: 50px;
}

#signup .text-link {
    color: #5b5b5b;
    text-decoration: none;
}

#signup .additional a, span {
    font-family: "Pretendard", serif;
    font-size: 12px;
    font-weight: 500;
}

#signup .additional a {
    grid-column: 2;
}

#signup .additional span {
    grid-column: 1;
}

#signup .additional{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    width: 300px;
    margin-top: 12px;
    column-gap: 6px;
    row-gap: 4px;
    margin-left: 8px;
}

#signup .global-error-message {
    width: 300px;
    font-family: "NixgonFont", serif;
    font-size: 12px;
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: -8px;
    color: #ff6969;
}

