.inputArea {
    gap: 20px;
}

.subarea {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer > a {
    grid-column: 2;
}

.footer span {
    grid-column: 1;
}

.signupBg {
    background: linear-gradient(135deg, #44637a 0%, #e1dfd4 100%);
}
