.accountDeleteConfirmDialog {
    position: relative;
    width: clamp(340px, 62.55vw, 480px);
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 12px;
    padding: 24px 28px 24px 28px;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: NixgonFont, serif;
    font-size: 16px;
    font-weight: 500;
    color: #ff0000;
    margin-bottom: 24px;
    margin-left: -4px;
}

.content {
    font-family: NixgonFont, serif;
    font-size: 14px;
    white-space: pre-wrap;
    margin-bottom: 36px;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notify {
    font-family: NixgonFont, serif;
    font-size: 13px;
    white-space: pre-wrap;
    margin-bottom: 12px;
    color: #373737;
}

.btnArea {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 32px;
}

.cancelButton {
    background-color: #dbdbdb;
    color: #000000;
}

.button{
    position: absolute;
    top: 20px;
    right: 28px;
    width: 24px;
    height: 24px;
    margin-left: auto;
}