.ChangeConfirmDialog {
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 4px #ededed;
    width: 400px;
    height: 160px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ChangeConfirmDialog > span {
    font-family: NixgonFont, serif;
    white-space: pre-wrap;
}

.ChangeConfirmDialog > span:first-child {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 24px;
    color: #494949;
}

.ChangeConfirmDialog > span:nth-child(2) {
    font-size: 14px;
    margin-top: 16px;
    margin-left: 28px;
    margin-right: 28px;
    line-height: 1.3;
}

.ChangeConfirmDialog > div {
    width: 100%;
    height: 50px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.ChangeConfirmDialog > div > button {
    width: 50%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: #ffffff;
    font-family: NixgonFont, serif;
    font-size: 14px;
}

.ChangeConfirmDialog > div > button:hover {
    background-color: #ededed;
}