.createThemeDialog {
    width: clamp(320px, 64.68vw, 420px);
    box-shadow: 0 0 4px #ededed;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 24px 32px 24px 24px;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'NixgonFont', serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 32px;
    margin-left: 4px;
}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btnArea {
    width: 100%;
    display: flex;
    gap: 12px;
    margin-top: 12px;
    margin-left: auto;
}

.content {
    font-family: 'NixgonFont', serif;
    font-size: 14px;
    margin-left: 8px;
}

.cancelButton {
    background-color: #f0f0f0;
    color: #000000;
}
