.CreateThemeDialog {
    width: 450px;
    height: 240px;
    box-shadow: 0 0 4px #ededed;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 24px 32px 24px 24px;
    display: flex;
    flex-direction: column;
}

.CreateThemeDialog > span {
    font-family: 'Pretendard', serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-left: 4px;
}

.CreateThemeDialog > form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.CreateThemeDialog > form > .btn-area {
    width: 250px;
    display: flex;
    gap: 12px;
    margin-top: auto;
    margin-left: auto;
}

.CreateThemeDialog > form > span {
    font-family: 'NixgonFont', serif;
    font-size: 14px;
    margin-left: 8px;
}

.CreateThemeDialog > form > .btn-area > button:first-child {
    background-color: #dbdbdb;
    color: #000000;
}

.CreateThemeDialog > form > .btn-area > button:first-child:hover {
    background-color: #c8c8c8;
}
