.detailDialog {
    position: relative;
    width: clamp(320px, 62.55vw, 480px);
    height: 80dvh;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.button {
    position: absolute;
    top: 20px;
    right: 16px;
    width: 24px;
    height: 24px;
    margin-left: auto;
}