.theme-preview-dialog {
    position: relative;
    width: max(40%, 800px);
    height: max(52%, 600px);
    border-radius: 12px;
    background-color: #f6f6f6;
    box-shadow: 0 0 4px #ededed;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-preview-dialog > span {
    font-family: NixgonFont, serif;
    font-size: 18px;
    margin-bottom: 12px;
}

.theme-preview-dialog > div {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.theme-preview-dialog > button {
    position: absolute;
    top: 16px;
    right: 28px;
    width: 24px;
    height: 24px;
    margin-left: auto;
}
