.timetable-header {
    border-radius: 8px;
    margin-top: 12px;
    width: 100%;
    height: 36px;
    box-shadow: 3px 3px 4px #ededed;
}

.timetable-grid {
    margin-top: 12px;
    box-shadow: 3px 3px 4px #ededed;
    flex: 1;
}

.timetable {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.timetable-title {
    margin-top: 8px;
    display: flex;
    height: 32px;
}

.timetable-title > .title {
    font-size: 28px;
    font-family: "Pretendard", serif;
    font-weight: 900;
    color: #000000;
}

.timetable-title .name {
    font-size: 20px;
    font-family: "NixgonFont", serif;
    font-weight: 500;
    color: #595959;
    margin-left: 20px;
    margin-top: 7px;
}