.userElement {
    width: 100%;
    height: 56px;
    display: grid;
    grid-template-columns: 1.2fr 1.7fr 0.6fr 0.4fr 0.6fr 0.5fr;
    align-items: center;
    background-color: #fff;
    padding: 0 24px;
}

.info {
    font-size: 14px;
    font-family: NixgonFont, serif;
    justify-self: anchor-center;
}