#Account {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;


}

#Account > span {
    margin-top: 12px;
    font-family: Pretendard, serif;
    font-size: 28px;
    font-weight: 900;
}

#Account > div {
    display: grid;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #ededed;
    box-shadow: 4px 2px 3px #ededed;
    padding: 32px 40px 32px 40px;
    column-gap: 32px;
}

#Account > div > div > span {
    font-family: NixgonFont, serif;
    font-size: 14px;
}




#Account > .profile {
    grid-template-columns: 1fr 1fr 1fr;
}

#Account > .profile > div:first-child {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: max-content 1fr;
    justify-content: center;
}

#Account > .profile > div > .image {
    width: 72px;
    height: 72px;
    background: #ededed;
    border-radius: 50%;
    margin-top: auto;
}

#Account > .profile > div > .personnel {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2;
    margin-left: 36px;
    gap: 4px;
    align-self: center;
}

#Account > .profile > div > .personnel > span {
    font-family: NixgonFont, serif;
    font-size: 13px;
    color: #808080;
}

#Account > .profile > div > .personnel > span:first-child {
    font-size: 18px;
    color: #000000;
    margin-bottom: 2px;
}

#Account > .profile > .content {
    grid-row: 4;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#Account > .profile > .content > span:first-child {
    color: #808080;
    font-size: 13px;
}




#Account > .account > span {
    font-family: Pretendard, serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

#Account > .account {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#Account > .account > div {
    display: flex;
    align-items: center;
}

#Account > .account > div > button {
    color: red;
    margin-left: auto;
}
