.sidebar {
    position: fixed;
    bottom: calc(8px + env(safe-area-inset-bottom));
    height: 40px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 2px #cccccc;
    border: 2px solid #fafafa;
    background-color: #ffffff;
    border-radius: 16px;
    padding-left: 2%;
    padding-right: 2%;
    flex-shrink: 0;
    z-index: 10000;
}