.sidebar-button {
    width: 80px;
    height: 56px;
    border: none;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

/* add color effect to the icon */
.sidebar-button:hover .sidebar-button-icon {
    transform: scale(1.05) translateY(-5px);
}

.sidebar-button-icon {
    width: 36px;
    height: 36px;
    margin-bottom: 6px;
    display: inline-block;
    transition: transform 0.08s ease-in-out;
}
