.ClassDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding: 24px 24px 0 20px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ClassDetail > .divider {
    height: 1px;
    background: #ededed;
    width: 80%;
    margin: 24px auto;
}

.ClassDetail > header {
    margin-bottom: 36px;
}

.ClassDetail > header > span:first-child {
    font-family: Pretendard, serif;
    font-size: 24px;
    font-weight: 700;
}

.ClassDetail > header > span:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
}



.ClassDetail > .detail {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ClassDetail > .detail > div {
    width: 100%;
    display: flex;
}

.ClassDetail > .detail > div > span:first-child {
    font-family: NixgonFont, serif;
    font-size: 14px;
    color: #5b5b5b ;
}

.ClassDetail > .detail > div > span:nth-child(2) {
    font-family: NixgonFont, serif;
    font-size: 14px;
    margin-left: auto;
}



.ClassDetail > .classmates {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.ClassDetail > .classmates > span {
    font-family: Pretendard, serif;
    font-size: 18px;
    margin-bottom: 12px;
}

.ClassDetail > .classmates > div {
    width: 100%;
    display: flex;
    align-items: end;
}

.ClassDetail > .classmates > div > span:first-child {
    font-family: NixgonFont, serif;
    font-size: 14px;
}

.ClassDetail > .classmates > div > span:nth-child(2) {
    font-family: NixgonFont, serif;
    font-size: 14px;
    margin-left: auto;
    color: #b6b6b6;
}
