.detail-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 64px;
    align-items: center;
}

.detail-wrapper .detail-alert {
    font-size: 16px;
    font-family: "NixgonFont", serif;
    color: #c2c2c2;
    text-align: center;
}

.detail-wrapper .detail-image {
    margin-top: 50%;
    width: 100%
}

.detail-wrapper .quote-container {
    width: 100%;
    font-size: 13px;
    font-family: "NixgonFont", serif;
    color: #c2c2c2;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: auto;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-wrapper .quote-container .detail-quote {
    text-align: left;
    line-height: 1.5;
}

.detail-wrapper .quote-container .detail-source {
    align-self: flex-end;
}