.detail-bar {
    padding-top: 52px;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.detail-bar .title-wrapper {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
}

.detail-bar .title-wrapper .title {
    font-size: 24px;
    font-family: "Pretendard", serif;
    font-weight: 800;
}

.detail-bar .container {
    margin-top: 12px;
    border-radius: 12px;
    overflow: hidden;
    width: 1fr;
    box-sizing: border-box;
    background: #f6f6f6;
    box-shadow: 1px 1px 4px 3px #ededed;
    display: flex;
    flex: 1;
}