.detail-bar {
    margin-top: 118px;
    width: 480px;
    height: 1fr;
}

.detail-bar .title-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.detail-bar .title-wrapper .title {
    font-size: 24px;
}

.detail-bar .container {
    margin-top: 12px;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    background: #000000;
}